@mixin flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-contact-data {
    display: flex;
    text-align: center;
    padding-bottom: 104px; 
    justify-content: center; 
    
    .main-contact-data__blockMail {
        @include flex;
        border-right: 1px solid #C8C8CF;
        width: 30vw;
    }

    .main-contact-data__blockPhone {
        @include flex;
        width: 30vw;
    }

    [attr="connect-header"] {
        margin: 0 auto;
        font-size: 14px;
        color: #4F4F4F;
    }
    
    [attr~="connect-info"] {
        font-size: 20px;
        font-weight: bold;
        margin: 6px 70px 0px;
        display: inline-block;
        white-space: pre;
    }

    [attr~="changeColorlink"]:hover{
        color: grey;
        cursor:pointer;
    }
}

@media screen and (max-width: 1000px) {

    .main-contact-data {
        @include flex;
        text-align: center;
        padding-bottom: 40px; 
        
        .main-contact-data__blockMail {
            border-right: none;
            text-align: center;  

            [attr="connect-header"] {
                margin-top: 20px;
                font-size: 12px;
            }
        
            [attr="connect-info"] {
                font-size: 14px;
                margin-top: 5px;
                white-space: nowrap;               
            }    
        }

        .main-contact-data__blockPhone {
            
            [attr="connect-header"] {
                margin-top: 20px;
                font-size: 12px;
            }
        
            [attr="connect-info"] {
                font-size: 14px;
                margin-top: 5px;
                white-space: nowrap;               
            }
        }

    }
}

